/* You can add global styles to this file, and also import other style files */

// Define theme variables
$light-bg: #fafafa;
$light-text: #333333;
$dark-bg: #303030;
$dark-text: #ffffff;

// Global styles
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button{
  background-color: #008080;
}

input:focus{
  border-color: #008080;
}

// Theme classes
.light-theme {
  background-color: $light-bg;
  color: $light-text;
}

.dark-theme {
  background-color: $dark-bg;
  color: $dark-text;
}
